.results__counter {
  text-align: center;
  margin-top: var(--spacing-lg);
}

.results__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: var(--spacing-md);
}

@media (min-width: 48rem) {
  .results__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
