.hero {
  padding: var(--spacing-md) 1.5rem 0;
}

.results__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  padding: 5.625rem 4rem;
}

.results__wrapper {
  max-width: 50rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.archive {
  padding: 0 var(--side-padding) var(--spacing-xxl);
}

.archive__message {
  text-align: center;
  font-size: var(--text-lg);
  margin: var(--spacing-xl) auto 0;
  max-width: 30ch;
}
