.button {
  border-radius: var(--radius-md);
  font-size: var(--text-md);
  letter-spacing: 0.01em;
  text-decoration: none;

  display: flex;
  align-items: center;
  width: max-content;

  height: var(--button-height);
  line-height: var(--button-height);
  padding: 0 1.5em;
}

.button--orange {
  background: var(--bg-noise-orange);
  color: var(--color-black);
}

.button--outline {
  background: none;
  box-shadow: inset 0 0 0 1px var(--color-black);
  color: var(--color-black);
}

.button--center {
  margin-left: auto;
  margin-right: auto;
}
