.results__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  padding: 5.625rem 4rem;
}

.results__wrapper {
  max-width: 50rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
