.hero {
  padding: 0 1.5rem 8rem;
}

.hero__content {
  display: grid;
  gap: var(--spacing-md);
}

.hero__form {
  margin-top: clamp(var(--spacing-lg), 5vw, var(--spacing-xl));
}

/* 
 *
 */

.whyRecycle {
  padding: 8rem var(--side-padding);
  text-align: center;
}

.whyRecycle__quote {
}

.whyRecycle__quote__content {
  max-width: 28ch;
  margin: auto;
}

.whyRecycle__quote__source {
  font-size: 0.875rem;
  margin-top: var(--spacing-md);
}

.whyRecycle__quote__highlight {
  position: relative;
  display: inline-flex;
  align-items: center;
  align-content: center;
  padding: 0 0.25em;
}

.whyRecycle__quote__highlight::before,
.whyRecycle__quote__highlight::after {
  content: '';
  position: absolute;
}

.whyRecycle__quote__highlight::before {
  border: 2px solid var(--color-black);
  border-radius: 100rem;

  width: 100%;
  height: 100%;
  margin: auto;

  top: 55%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.whyRecycle__quote__highlight::after {
  background: radial-gradient(50% 50% at 50% 50%, #ffac52 0%, rgba(255, 172, 82, 0) 99.99%, rgba(255, 172, 82, 0) 100%);

  width: 150%;
  height: 120%;
  margin: 0.5rem auto;

  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* 
 *
 */

.worldCount {
  background: var(--bg-black-noise);
  color: var(--color-white);
  padding: 8rem var(--side-padding) 0;
  position: relative;
}

.worldCount__quote {
}

.worldCount__quote__title {
  margin: 0 auto clamp(var(--spacing-lg), 5vw, var(--spacing-xxl));
  max-width: 28ch;
}

.worldCount__quote__text {
}

.worldCount__quote__number {
  color: var(--color-orange);
  margin-top: clamp(var(--spacing-lg), 5vw, var(--spacing-xxl));
}

.worldCount__quote__source {
  text-align: center;
  margin-top: var(--spacing-md);
}

.worldCount__earth {
  width: 100%;
  min-width: calc(100% + 2 * var(--side-padding));
  height: clamp(25rem, 50vw, 56.25rem);
  object-fit: cover;

  position: relative;
  left: calc(-1 * var(--side-padding));
}

.worldCount__earth__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  animation: float 8s ease-in-out infinite;
}

.worldCount__earth__text {
  width: 100%;
  max-width: 16ch;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-1.25rem);
  }
  100% {
    transform: translatey(0px);
  }
}

/* 
 *
 */

.benefits {
  background: var(--bg-black-noise);
  color: var(--color-white);
  padding: 0 var(--side-padding) 8rem;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: var(--spacing-lg);
}

.benefits__item {
  padding-left: 2.5rem;
  position: relative;
}

.benefits__item::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0;
  top: 3%;
  background: url('../../assets/check.svg') no-repeat center center;
}

.benefits__item__description {
  color: var(--color-sand);
  margin-top: var(--spacing-xs);
  opacity: 0.65;
}
