.hero {
  display: grid;
  place-content: center;
  height: 100%;

  text-align: center;
  padding: var(--spacing-xl) var(--side-padding);
}

.hero__description {
  margin: var(--spacing-md) 0;
  font-size: var(--text-lg);
}
