.card {
  --border: 1px solid #eaeaea;

  border: var(--border);
  border-radius: 0.5rem;
}

.header {
  height: 10rem;
  margin: 2rem;
  position: relative;
}

.body {
  border-top: var(--border);
  padding: 2rem;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: contain;
}