.card {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-md);
  padding: 1.5rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 18.75rem;
  gap: var(--spacing-sm);
}

.card__header {
  display: grid;
  gap: var(--spacing-xxs);
  font-size: var(--text-sm);
}

.card__title {
  margin-bottom: var(--spacing-xxs);
}

.card__body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.65);
  padding-bottom: var(--spacing-sm);
}

.card__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
}

.card__list {
  max-width: 34ch;
}
