/*  */

.searchForm {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: var(--spacing-lg);
}

.form {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr auto;
  align-items: flex-end;
}

.field {
  position: relative;
}

.label {
  display: block;
  font-size: 1rem;
  margin-bottom: var(--spacing-sm);
}

.input,
.dropdownButton {
  background: none;
  border: 1px solid #000000;
  border-radius: 0.5rem;

  display: inline-flex;
  align-items: center;
  padding: 0 1.25rem;

  line-height: 3rem;
  height: 3rem;
  width: 100%;

  font-size: 1rem;
  text-align: left;
}

.dropdownButton {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 29 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 6h-1.3c-.1 0-.2 0-.2.1L9 13 4 6.1C4 6 3.9 6 3.8 6H2.5c-.2 0-.2.1-.2.2l6.2 8.5c.2.3.7.3.9 0l6.2-8.5c.1-.1.1-.2-.1-.2z' fill='%23000000'/%3E%3C/svg%3E");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 2em;
}

.dropdownButton[aria-expanded='true'] {
  border-radius: 0.5rem 0.5rem 0 0;
}

.dropdownContent[aria-hidden='true'] {
  display: none;
}

.dropdownContent {
  background: var(--color-neutral-300);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 1.5rem 1.5rem;
  width: 100%;
  position: absolute;
}
