.header {
  padding: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  position: relative;
  z-index: var(--z-index-xl);
}

/*  */

.toggle {
  display: block;
  background: none;
  position: relative;
  z-index: var(--z-index-xl);
}

.toggleLine {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: var(--color-body);
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}

.toggleLine:not(last-child) {
  margin-bottom: 5px;
}

[data-menu-open='true'] .toggleLine:nth-child(1) {
  transform: rotate(45deg);
}

[data-menu-open='true'] .toggleLine:nth-child(2) {
  opacity: 0;
}

[data-menu-open='true'] .toggleLine:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 48rem) {
  .toggle {
    display: none;
  }
}

/*  */

.menu {
  display: none;
}

.menuItem {
  padding: 0.5rem;
}

[data-menu-open='true'] .menu {
  background-color: var(--color-primary-light);
  display: grid;
  place-content: center;

  height: 100vh;
  width: 100vw;

  position: absolute;
  inset: 0;
  z-index: 1;

  text-align: center;
}

[data-menu-open='true'] .menuLink {
  color: var(--color-neutral-100);
}

@media (min-width: 48rem) {
  .menu {
    display: flex;
  }
}
