.header {
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--side-padding) 3vh;
}

.brand {
  position: relative;
  z-index: var(--z-index-xl);
}

/*  */

.menu {
}

.menuToggle {
  display: block;
  background: none;
  position: relative;
  z-index: var(--z-index-xl);
}

.menuToggleLine {
  display: block;
  width: 26px;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}

.menuToggleLine + .menuToggleLine {
  margin-top: 5px;
}

[data-menu-open='true'] .menuToggleLine {
  color: white;
}

[data-menu-open='true'] .menuToggleLine:nth-child(1) {
  transform: rotate(45deg);
}

[data-menu-open='true'] .menuToggleLine:nth-child(2) {
  opacity: 0;
}

[data-menu-open='true'] .menuToggleLine:nth-child(3) {
  transform: rotate(-45deg);
}

/*  */

.menuList {
  display: none;
}

.menuListItem {
  padding: 0.5rem;
}

[data-menu-open='true'] .menuList {
  background-color: rgba(0, 0, 0, 0.85);
  display: grid;
  place-content: center;

  height: 100vh;
  width: 100vw;
  transform: translateX(-50%);

  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  text-align: center;
}

[data-menu-open='true'] .menuListLink {
  color: var(--color-white);
}
