.header {
  padding: 1.5rem;
}

.nav {
  position: relative;
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.headerToggle > span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}

.headerToggle > span:not(last-child) {
  margin-bottom: 0.3125rem;
}

.headerToggle {
  display: block;
  background: none;
}

@media (min-width: 767px) {
  .headerToggle {
    display: none;
  }
}

.menu {
  display: none;
}

@media (min-width: 767px) {
  .menu {
    display: flex;
  }
}

.menuItem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 0.5rem;
}

.menuItem__green {
  color: var(--color-primary);
  font-weight: bold;
}

/* Open menu */
.menu__open {
  display: block;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  background-color: var(--color-primary-light);
  height: 90vh;
}

/*  */

.headerToggle__open > span:first-child {
  transform: rotate(45deg);
}

.headerToggle__open > span:nth-child(2) {
  opacity: 0;
}

.headerToggle__open > span:last-child {
  transform: rotate(-45deg);
}

/*  */

.menu__open li {
  text-align: center;
  margin: 1rem 0;
}

.menu__open .menuItem a,
.menu__open .menuItem__green a {
  color: #ffffff;
}
