.checkbox {
  --size: 1.15em;

  cursor: pointer;
  font-size: var(--text-md);
  user-select: none;
  position: relative;

  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.checkbox + .checkbox {
  margin-top: var(--spacing-xs);
}

.checkbox__label {
  padding-left: calc(var(--size) + var(--spacing-xs));
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.checkbox__icon {
  width: 1.5em;
}

.checkbox__input:focus + .checkbox__mark {
  outline: 2px solid #b682f8;
  outline-offset: 2px;
}

.checkbox__mark {
  border: 1px solid var(--color-black);
  border-radius: var(--radius-sm);
  height: var(--size);
  width: var(--size);

  position: absolute;
  top: 0.2em;
  left: 0;

  pointer-events: none;
  transition: background 0.3s;
}

.checkbox__input:checked ~ .checkbox__mark {
  background: var(--bg-noise-orange);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__mark:after {
  content: '';
  display: none;
  position: absolute;
}

/* Show the checkmark when checked */
.checkbox__input:checked ~ .checkbox__mark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkbox__mark:after {
  border: solid currentColor;
  border-width: 0 0.09em 0.09em 0;
  width: 0.25em;
  height: 0.5em;

  left: 0.45em;
  top: 0.25em;
  transform: rotate(45deg);
}
