.search {
  padding: var(--spacing-md) 0 0;
}

.search__box {
  display: grid;
  gap: var(--spacing-md);
  align-items: center;
  grid-template-columns: 1fr;

  position: relative;
  z-index: var(--z-index-sm);
}

.search__form {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: 1fr;
  align-items: flex-end;
}

.search__content {
  text-align: center;
}

@media (min-width: 62rem) {
  .search {
    padding: clamp(var(--spacing-lg), 5vw, var(--spacing-lg)) 0 0;
  }

  .search__box {
    backdrop-filter: blur(20px);
    background: linear-gradient(102.34deg, rgba(239, 224, 214, 0.88) 0%, rgba(255, 247, 235, 0.88) 100%);
    border-radius: var(--radius-lg);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24), 0px 16px 40px rgba(0, 0, 0, 0.08);

    padding: var(--spacing-md);
    grid-template-columns: 2fr 5fr;
  }

  .search__form {
    grid-template-columns: 1fr 1fr auto;
  }

  .search__content {
    text-align: left;
  }
}

/*
 * 
 */

.search__errors {
}

.search__errors__list {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;

  position: absolute;
  top: calc(100% + var(--spacing-sm));
  left: 0;
}

.search__errors__list {
  display: flex;
  justify-content: center;
}

.search__errors__item {
  animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: transform 0.4s ease-in-out;

  background: var(--bg-red-noise);
  border-radius: var(--radius-md);
  color: var(--color-red-darker);
  padding: 1em;

  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.search__errors__item:before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;

  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23DD2E44' d='M34.16 28.812L31.244 2.678C31.074 1.153 29.785 0 28.251 0H7.664C6.119 0 4.825 1.168 4.667 2.704l-2.67 26.108H34.16z'/%3E%3Ccircle fill='%23BE1931' cx='18.069' cy='14' r='9.366'/%3E%3Cpath fill='%2399AAB5' d='M35.521 29.18H.479L0 34c0 2 2 2 2 2h32s2 0 2-2l-.479-4.82z'/%3E%3Cpath fill='%23CCD6DD' d='M35.594 29.912l-.073-.732C35.38 28.442 34.751 28 34 28H2c-.751 0-1.38.442-1.521 1.18l-.073.732h35.188z'/%3E%3Cpath fill='%23EC9DAD' d='M29.647 13.63l-7.668-1.248 4.539-6.308c.107-.148.091-.354-.039-.484-.131-.129-.336-.146-.484-.039l-6.309 4.538-1.247-7.667c-.029-.181-.187-.314-.37-.314s-.341.133-.37.314l-1.248 7.667-6.308-4.538c-.149-.107-.353-.09-.484.039-.13.131-.146.335-.039.484l4.538 6.308L6.49 13.63c-.181.029-.314.186-.314.37s.133.341.314.37l7.668 1.248-4.538 6.308c-.107.149-.091.354.039.484.131.129.335.146.484.039l6.308-4.538 1.248 7.667c.029.182.187.314.37.314s.341-.134.37-.314l1.247-7.667 6.308 4.538c.148.106.354.09.484-.039.13-.131.146-.335.039-.484l-4.538-6.308 7.668-1.248c.182-.029.314-.187.314-.37s-.132-.341-.314-.37z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 48rem) {
  .search__errors__list {
    flex-direction: column;
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-84rem) translateY(12rem);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
