/* ======================================================================== */
/* CSS Reset inspired by Elly Loel's CSS Reset */
/* http://www.ellyloel.com/ */
/* ======================================================================== */

/* Use a more-intuitive box-sizing model on everything */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  block-size: 100%; /* Allow percentage-based heights in the application */
  -webkit-text-size-adjust: none; /* Making sure text size is only controlled by font-size */
}

body {
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
  text-rendering: optimizeSpeed; /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
  min-block-size: 100%; /* Allow percentage-based heights in the application */
}

/* Improve media defaults */
:where(img, svg, video, picture) {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
}

/* Avoid text overflows */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Make it clear that interactive elements are interactive */
:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*='-'])) {
  cursor: pointer;
  touch-action: manipulation;
}

/* Animate focus outline */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 3px;
}

/* Make sure users can't select button text */
:where(button, button[type], input[type='button'], input[type='submit'], input[type='reset']) {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
}

/* Disabled cursor for disabled buttons */
:where(button, button[type], input[type='button'], input[type='submit'], input[type='reset'])[disabled] {
  cursor: not-allowed;
}

/* Remove list styles */
ul {
  list-style: none;
}

/* Set default color for links */
a {
  color: currentColor;
}

/* ======================================================================== */
/* Global styles */
/* ======================================================================== */

:root {
  --color-primary: #298435;
  --color-primary-light: #298435;
  --color-body: #000;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 4rem;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-bold.woff2') format('woff2'), url('./assets/fonts/inter-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-regular.woff2') format('woff2'), url('./fonts/inter-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-body);
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  line-height: 1.7;
}

/*  */

.no-scroll {
  position: fixed;
  overflow-y: scroll;
}

/* */

.container {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container--narrow {
  max-width: 45rem;
}

/* */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: inherit;
  }
}

/*  */

.stack {
  display: grid;
  gap: 4rem;
  grid-auto-rows: min-content;
}

.stack--xm {
  gap: 0.875rem;
}

.stack--sm {
  gap: 1rem;
}

.stack--md {
  gap: 1.125rem;
}

/*  */

.section {
  padding: 6rem 1.5rem;
}

.section--primary-color {
  background-color: var(--color-primary);
  color: #fff;
}

.section--light-grey-color {
  background-color: gainsboro;
}

/* */

.content > * + * {
  margin-top: 1.5rem;
}

.content--center,
.content--center > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*  */

.heading {
  font-weight: bold;
}

.heading--large {
  font-size: 2rem;
  line-height: 1.3;
}

.heading--medium {
}

.heading--small {
}

/*  */

.link {
  text-decoration: none;
}

.link--highlight {
  color: var(--color-primary);
  font-weight: bold;
}

/*  */

.button {
  border-radius: 0.5rem;
  font-weight: 400;
  line-height: 0;
  text-decoration: none;

  display: flex;
  align-items: center;
  width: max-content;

  height: 3.25rem;
  padding: 0 1.6em;
}

.button--primary {
  background: var(--color-primary);
  color: white;
}

.button--secondary {
  background: white;
  color: var(--color-body);
}

/*  */

.overtitle {
  background: gainsboro;
  max-width: max-content;
  padding: 0.25em 1em;
}
